[control]
# Turn this on to reject all cancel messages without even checking their
# validity.
#reject_cancels = false
# Some control type articles are completely redundant.  This setting controls
# if they should be processed or propagated.
#reject_redundant = true

[binary]
# Above this number of binary content lines, the article will be rejected.
#lines_allowed = 15

# Grant a waiver for PGP formatted articles.  With modern, large PGP
# signatures, setting this to false is likely to result in many signed messages
# being rejected.
#allow_pgp = true

# If a References header is present, skip expensive binary checks.  This
# introduces a risk of large, crafted binaries (with fake References headers)
# being accepted.
#fasttrack_references = true

# If true, any lines containing suspicious content will count towards the overall
# binary lines counter.  Suspicious content implies 40+ non-spaced characters.
#reject_suspected = false

# Reject all identified binary articles, regardless of what groups they appear in.
# This setting is useful for non-binary servers that don't want the burden of
# propagating, even correctly located, binary content.
#reject_all = false

[logging]
# Logged articles are (by default) trimmed to this number of lines.
#logart_maxlines = 20

# How many days of archived logs to retain.
#retain = 7

# What format of entries to use in log messages.  Change with great care!
#datefmt = %Y-%m-%d %H:%M:%S
#format = %(asctime)s %(levelname)s %(message)s

# Verbosity of log messages.  This can be error, warn, info, debug.
#level = info

[groups]
# Crossposts to more groups than this will be rejected.
#max_crosspost = 10

[paths]
#etc = ~news/pyclean/etc
#logart = ~news/pyclean/articles
#log = ~news/pyclean/log
#lib = ~news/pyclean/lib

[hostnames]
# If True, Pyclean will try to extract the injection-host from the Path header
# but ONLY, if all other preferred sources of info fail.
#path_hostname = true

[emp]
#ph_coarse = true
#phl_threshold = 20
#body_threshold = 5
#ihn_ceiling = 15
#fsl_maxentries = 5000
#ihn_timed_trim = 7200
#phn_maxentries = 5000
#body_maxentries = 5000
#phl_maxentries = 5000
#phn_timed_trim = 1800
#ihn_maxentries = 1000
#body_fuzzy = yes
#body_timed_trim = 3600
#phl_timed_trim = 3600
#fsl_threshold = 20
#body_ceiling = 85
#phn_threshold = 150
#phl_ceiling = 80
#fsl_timed_trim = 3600
#fsl_ceiling = 40
#phn_ceiling = 200
#ihn_threshold = 10

[filters]
#reject_html = true
#newsguy = true
#reject_multipart = false
